
body {
  padding-top: 54px;
  background : white;
}



#image-user {
	margin-left: 30px;
	width: 40px;
	height: auto;
}
#image-logo {
	width: 50px;
	height: 50px;
}
#image-menu{
	margin-left: 2px;
	width: 250px ;
	height: 200px;
}
#image-rating {
	margin-left: 2px;
	width: 390px ;
	height: 250px;
}
#image-promo {
	margin: 0 auto;
	width: 820px;
	height: 400px;
}



.container-form{
	border: 1px solid #dedcdc;
	border-radius: 10px;
	margin: 20px 0px 30px 5px;
}
#menu-form {
	padding: 20px;
}
.form-jumlah {
	border-radius: 10px;
	width: 20px;
	background-color: red;
}




@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.list-drop {
	margin-top: 10px;
}

.list-drop:hover {
	text-decoration: none;
}

.dropdown-menu {
	width: 255px;
	height: auto;
}

.btn-upload{
	margin: 0 0 0 700px;
}
.btn-upload:hover, .btn-pesan:hover{
	background-color: #3baef0;
}
.btn-pesan {
	margin: 30px 0 0 700px;
}

.form-check-input {
	margin: 5px 0 0 140px;
}

#check-all {
	display: none;
}

#delete {
	display: none;
}

.card-title {
	text-transform: capitalize;
}

.mb-4 {
	margin-top: 80px;
}


/*Checked*/
.checked {
	color: orange;
}

.user-login {
	text-transform: capitalize;
	font-size: 20px;
	margin-bottom: 5px;
}


#image-home {
	width: 1900px;
	height: 600px;
}

/*Slide curaousel*/
#slide {
	margin: 80px 60px 0 60px;
}

#slide-color {
	margin: 0 0 0 0;
	height: 620px;
	background-color: #f0f0f0;
}

@media screen and (max-width:900px){
	#slide {
		margin: 80px 0 0 0;
	}
}

@media screen and (max-width:344px){
	#slide {
		margin: 110px 0 0 0;
	}
}

#akun {
	display: ;
}


/* dropdown*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 255px;
    border: 1px solid #e5e5e5;
    z-index: 1;
}

.dropdown-content li {
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

